.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 0 auto 20px;
    padding: 10px 25px;
    
    background: #ccc;
    border: 2px solid #000000;

    .name {
        color: blue;
        font-weight: 700;
    }
}   